.header{
    
    display: flex;
    flex-direction: column ;
      
}
.header_top{
    display: flex;
    width: 100%;
    height: 500px;
    align-items: center;
    padding-top: 20px;
    top:0;
    height: 60px;
    position: sticky;
    background: #000;
    z-index: 1000;
    
}
.header .logo{
    width: 125px;
    height:38px;
    margin-left: 18px;
}
.headerNavbar{
    display:flex;
    justify-content: space-between;
    margin-right: auto;
    padding: 0px 20px;
    margin-bottom: 20px;
}
.location{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: -25px;
    font-size: 18px;
}
.search{
    display: flex;
    flex-direction: row;
    margin-right: 90px; 
    /* padding:10px; */
    margin-top: -20px;
    margin-right: 150px;

}
.headerSearch-nav-left {
    /* position: relative; */
    width: 60px;
    height: 54px;
    background-color:white;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    margin-left: 5px;
    
} 
.psize{
    margin-left: 6px;
    font-size:18px;
    margin-top: -6px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  
  }
  
  .Seacrh-Dropdown{
      position: absolute;
      margin-right: 8px;
      margin-top: -34px;
      margin-left: 25px;
      border: none;
  
  }
.header .headerSearch{
    display: flex;
    flex: 1;
    align-items: center;
    
}
.search-input{
    height: 55px;
    width: 750px;
    display: flex;
    padding-left: 90px;
    font-size: 25px;
    
}
.header .headerSearch .headersearchIcon{
    height: 54px !important;
    background-color: rgb(224, 163, 49);
    padding-inline-start: 6px;
    width: 44px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}
.headerOptions-nav-two{
    /* size: px; */
    height: 20px;
    width:30px;
    /* padding: 10x; */
    /* padding-right: 10px; */
    display:flex;
    margin-top: 20px;
   margin-left: -90px;
   margin-right: 48px;
   padding-top: -20px;    
}
.headerOptions1{
    display: flex;
    flex-direction: row ;

    /* align-items:flex-start; */
}
/* .headerOptions1 img{
margin-left: -20px;
padding: 20;
} */
.flag-language{
    color: white;
    margin-left: -45px;
    margin-top: -41px;
    margin-bottom: 30px;
    /* padding-top: -80px; */
    font-size: 20px;
    font-weight: 20px;
}



/*right navbar on header*/
/* .headerNavbar-right{
    display: flex;
    justify-content: space-evenly;
    margin: 100px 0 0 0;
    flex-direction: row;
} */

/* .headerNavbar .headerNavbar span{
    display: flex;
    justify-content: center;

} */
/* .headerNavbar .headerLink:first-child{
    display: flex;
    flex-direction: column;
    width: 80px;
    padding-bottom: 70px;

} */
.headerLink{
    color: #fff;
    /* display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 10px;
    padding-right: 15px; */
    text-decoration: none;
    margin: 0px 20px;
}

.alllink{
    text-decoration: none;
    color: black;
}
.headerOptions{
    display: flex;
    justify-content: space-around;
    margin: 0 10px;
    height: 3vh;
    padding-top:20px;
    margin-right: -35px;  
}

.retruns{
    
    margin-left:35px;
    
}
.carttext{
    margin-left: -10px;
}
.headerNavbar .headerOptions .headerOptions-one{
    font-size: 17px;
    width: 0px;

}
.headerNavbar .headerOptions .headerOptions-two{
    margin-top: 20px;
    font-size: 18px;
    padding-right: 30px;
    font-family: inherit;

}
.headeroption1{
    display: flex;
    /* flex-direction: row; */
    padding-left: 9px;
    

}



.cart{
    display: flex;
    color: white;
    align-items: center;
    width:70px;
    size:20vh;
   
}
.india{
    margin-left: -10px;
    font-size: 20px;
}
.roomiconlogo{
   margin-top: 20px; 
   margin-left: -20px;
   
}
/*header bottom */
.headerBottom-Nav{
background-color: rgb(43, 41, 41);
padding-top: 10px;
height: 50px;
display: flex;
align-items: center;    
color: white;

}
/* for menubarm text */
.headerBottom-Nav-left{
    display: flex;
    font-family: inherit;
    font-weight: 600;
    justify-content: space-evenly;
    margin-top: -12px;
    font-size: 20px;
    
}
.menubar {
    display: flex;
    color: white;
    margin-top: -5px;
   
}

.menu-icon{
  margin-left: 5px ;
  margin-top: 18px;
  font-size: 30px;

}
.content{
    /* padding-bottom: 5px;
    padding-right: 5px; */
    margin: 10px;
   
}
.headerBottom-Nav-left span{
    display: flex;
    color: white;
    justify-content: space-evenly;
    padding: 10px;
    flex :1;
    align-items: center;
    margin-top: 5px;
    font-size: 19px;
   

}
.headerBottom-Nav:hover{
    border: 3px;
    border-color: rgb(228, 213, 184);
}
.headerLink1{
    text-decoration: none;
    color: white;
}
.icon{
    color: white;
    margin-top:60px;
    /* margin-left: -10px;*/
} 
.headerBottom-Nav-left .toggle{
 
 background-color : rgb(57, 47, 49);
 height: 40px;
 margin-top: 10px;
}
.folder{
    color: rgb(66, 167, 167);
    
    
}
.Bottam-right-nav{
    margin-left: 790px;
   margin-top:10px;
   font-size: 22px;
   
}